<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="theme-color" content="#000000">

	<title></title>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

	<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css"> -->
	<link rel="stylesheet" href="/lib/angular-material.css">

	<style type="text/css">
		#touch-area {
			background: gray;
			width: 100%;
			height: 300px;
			width: 100vw;
			height: 50vw;
			-webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
		}
		@media (min-aspect-ratio: 1/1) {
			#touch-area {
				width: 100vh;
				height: 50vh;
				margin: auto;
			} 
		}
	</style>
</head>
<body ng-controller="controller">

<md-button id="refresh" ng-click="refresh()">Refresh</md-button>
<md-button id="rotate" ng-click="rotate()">Rotate</md-button>

<div id="touch-area" touch-area>
	
</div>

<pre id="debug"></pre>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>-->

<script src="/lib/angular.js"></script>
<script src="/lib/angular-animate.js"></script>
<script src="/lib/angular-aria.js"></script>
<script src="/lib/angular-material.js"></script>

<script src="/lib/hammer.js"></script>

<script src="/lib/lib.js"></script>
<script src="controller.js"></script>

</body>
</html>